body{background:#EEE;margin:0;padding:0;height:100%;overflow:hidden;}
#hte-panel{position: relative; left: 50%; margin-left: -458px; width: 1002px; border: 1px solid #DDD;}
#hte-workbench{position:relative;border:1px solid #999;left:50%;margin-left:-450px; background:white;margin-top:15px;min-height:1000px;}
#hte-cursor{position:absolute;width:2px;background:#000;height:10px;}
.hte-line{width:auto;}
.hte-line span{white-space:normal;line-height:1.15;}
#hte-measurer{position:absolute;left: -10000px;}
/*#hte-panels-container{position: fixed; z-index: 101; background: #EEE; left: 50%; margin-left: -450px; width: 902px; top: 0px;}*/
#hte-workbench-container{position: relative; overflow-y: scroll; width: 100%;}
#hte-slider{position:relative;border:none;left:50%;margin-left:-458px;height:10px;width:902px;padding:5px 50px 5px;background:#EEE;}
#hte-boldbutton, #hte-italicbutton, #hte-underlinebutton, #hte-linethroughbutton, #hte-savebutton, #hte-openbutton{width:16px;height:16px;}
#hte-boldbutton{background:url(/ico/text_bold.png) no-repeat;}
#hte-italicbutton{background:url(/ico/text_italic.png) no-repeat;}
#hte-underlinebutton{background:url(/ico/text_underline.png) no-repeat;}
#hte-linethroughbutton{background:url(/ico/text_strikethrough.png) no-repeat;}
#hte-savebutton{background:url(/ico/disk.png) no-repeat;}
#hte-openbutton{background:url(/ico/folder.png) no-repeat;}
.goog-twothumbslider-horizontal{background: #FFF;position: relative;overflow: visible;}
.goog-twothumbslider-value-thumb, .goog-twothumbslider-extent-thumb{height: 16px;width: 16px;background:url('/ico/ruler.png');position: absolute;overflow: hidden;}
.goog-twothumbslider-value-thumb{margin-left:-8px;}
.goog-twothumbslider-extent-thumb{margin-left:8px;}
.goog-toolbar-menu-button-inner-box{height:16px;}
.opendoc .goog-menu{position:relative;border:none;height:400px;overflow-y:scroll;}
.modal-dialog-title-text{font-family:Arial;font-size:12px;}
.modal-dialog-title{padding:6px 15px 8px 8px;font-size:100%;}
